html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #cd40f8, #d294f7, #f8a0c9, #d294f7, #cd40f8);
}

.header
{
	color: rgb(252, 7, 190);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgb(248, 182, 215);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 40%;
	border-radius: 15px;
	background-color: rgb(206, 91, 241);
	color: rgb(63, 2, 78);
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
    background-color: rgb(247, 128, 211);
    color: rgb(186, 0, 211);
}


#output
{
	padding: 10px; width:80%;background: rgba(227, 173, 252, 0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(248, 148, 215);font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(247, 154, 211, 0.979);
}
.input_div_message_page label
{
	color: rgb(211, 5, 252);
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: rgb(255, 255, 255)
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}

#addroom,#snd
{
	background-color:rgb(197, 142, 248);
	color: rgb(255, 5, 201);
}

#msg
{
    background-color: rgb(236, 144, 248);
    color: crimson;
}